.footer {
  background-color: rgb(35, 32, 51);
  color: white;
  height: 300px;
  overflow: auto;
  width: 100%;
}
.footer .footer-container {
  display: flex;
  justify-content: space-around;
}
.footer .col-1 .title {
  font-size: 4rem;
}
.footer .col-1 {
  margin-top: 3%;
  width: 30%;
}
.footer .col-1 p {
  margin: 10px;
  font-size: 1.3rem;
}
.footer .col-2 {
  margin-top: 5%;
  font-size: 1.3rem;
}
.footer .col-3 {
  margin-top: 5%;
  font-size: 1.3rem;
}

.footer a {
}

.footer img {
  width: 40px;
  margin-right: 15px;
  margin-top: 15px;
}
.col-3 .git-links {
  font-size: 1.3rem;
}

.git-links {
  margin-top: 20px;

}
